{% extends 'base.html.twig' %}

{% block title %}
	Sign In
{% endblock %}

{% block body %}

	<div class="container form-group mt-4">
		<h2>Sign in for cooking together</h2>
		{{ form (form) }}
		</div>
	{% endblock %}
