{% extends "base.html.twig" %}

{% block title %}Content Page{% endblock %}

{% block body %}
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo deleniti ipsum reprehenderit, asperiores eveniet rerum sed, magni accusantium dignissimos excepturi quisquam! Doloremque, molestiae. Itaque quidem, ratione quibusdam nihil similique nostrum.
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad tempore ea corrupti doloremque perspiciatis nihil ratione rem possimus repudiandae, atque maxime harum, tenetur sequi, excepturi officiis temporibus soluta! Assumenda, iste.
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est ab illo accusamus nihil voluptate dignissimos? Qui quo, dolorum sint labore, fugiat voluptas aliquid consectetur aliquam impedit a possimus magni corporis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt et laudantium cum ut cumque, doloribus praesentium saepe, eligendi eum sint a, ex iste dicta explicabo facilis. Laudantium iusto dicta officia?</h3>


{% include "elements/_button.html.twig" %}

{% endblock %}