{% extends 'base.html.twig' %}

{% block title %}Добро пожаловать домой !
{% endblock %}
{# {% block header %} {{ parent()}} {% endblock %} #}

{% block body %}

	<div class="container mt-5 text-center">
		<a href="{{ path('app_logout') }}" class="ms-auto">Logout</a>
		<h1>{{ controller_name }}!</h1>
		<h2>Are you hungry ???</h2>
		<img src={{ asset('media/home-pic.jpg') }} alt='carotte et ane' width="420"/>

		<h3 class="mt-3" style='color: red'>Here's All Our Recipes</h3>
	</div>
	{% include "elements/_button.html.twig" %}
{% endblock %}
